<!DOCTYPE html>
<html>
  <head>
    <title>InterviewQaApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Water.css provides basic default styling %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="hbox">
      <span><%= link_to 'Dashboard', dashboard_home_url %></span>
      <span><%= link_to 'Notes', docs_notes_url %></span>
      <span><%= link_to 'Specification', docs_specs_url %></span>
      <span><%= link_to 'Assessment', docs_assessment_url %></span>
    </header>
    <%= yield %>
  </body>
</html>
